<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5> <i class="fa fa-phone" aria-hidden="true"></i>
 Телефоны для связи:</h5>
                <ul class="list-unstyled quick-links">
                    <li><a><i class="fa fa-angle-double-right"></i>+79606956550</a></li>
                    <li><a><i class="fa fa-angle-double-right"></i>+79045226550</a></li>
                </ul>
                <h5><i class="fa fa-envelope" aria-hidden="true"></i> Электронные адреса для связи:</h5>
                <ul class="list-unstyled quick-links">
                    <li><a><i class="fa fa-angle-double-right"></i>spectechkursk@gmail.com</a></li>
                    <li><a><i class="fa fa-angle-double-right"></i>spetstekhkursk@bk.ru</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><i class="fa fa-link" aria-hidden="true"></i> Быстрые ссылки:</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Домой</a></li>
                    <li><a class="js-scroll-trigger" href="#portfolio_2"><i class="fa fa-angle-double-right"></i>Виды спецтехники</a></li>
                    <li><a class="js-scroll-trigger" href="#services"><i class="fa fa-angle-double-right"></i>Наши преимущества</a></li>
                    <li><a class="js-scroll-trigger" href="#functions"><i class="fa fa-angle-double-right"></i>Наша деятельность</a></li>
                    <li><a class="js-scroll-trigger" href="#portfolio"><i class="fa fa-angle-double-right"></i>Портфолио</a></li>
                    <li><a class="js-scroll-trigger" href="#about"><i class="fa fa-angle-double-right"></i>Отзывы заказчиков</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><i class="fa fa-globe" aria-hidden="true"></i> Как нас найти?</h5>
                <ul class="list-unstyled quick-links">
                    <li><a class="js-scroll-trigger" href="#google_map" title="Нажмите, чтобы перейти на карту"><i class="fa fa-angle-double-right"></i>Российская Федерация, Курская область, г. Курск, ул. Кузнечная, 5. Почтовый индекс: 305000</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fab fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="#">СпецТехКурск</a></u> зарегистрировано </p>
                <hr>
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://vk.com/flocksfoe" target="_blank">Made by Echo</a></p>
            </div>
        </div>
    </div>
</section>
